</div>

<div class="footer">
  <p> © 2020 Kittysplit.com</p>
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-twitter"></i>
</div>


<script src="/js/index.js" charset="utf-8"></script>
</body>

</html>
